/* GENERALE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  padding: 10px 20px;
}

main{
  background-color: #f6f8f9;
  padding-top: 40px;
  padding-bottom: 10px;
}

.general-container{
  width: 70%;
  margin: 0 auto;
}


/* HEADER */
header img, h1{
  vertical-align: middle;
}

header h1{
  display: inline;
  font-size: 2.5rem;
}

/* MAIN */
.container{
  background-color: white;
  padding-left: 40px;
}

.cont-buttons{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #f6f8f9;
}

.cont-buttons button{
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
  font-size: 0.6rem;
}

#task-button{
  background-color: #47adf1;
  border-color: #43abf0;
  color: white;
}

#section-button{
  background-color: white;
  border-color: #c5cbd0;
  color: #c5cbd0;
}

.container.cont-list{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.3rem;
  }

#main-list, #secondary-list{
  list-style-type: none;
  
}

#main-list li{
  margin-bottom: 10px;
}

#secondary-list{
  font-size: 1rem;
  font-weight: 500;
  padding: 5px;
}

#secondary-list .check{
  color: #60bea6;
  font-size: 0.6rem;
  padding: 3px;
  border: 1px solid #60bea6;
  border-radius: 50%;
}

#secondary-list .cross{
  color: red;
  font-size: 0.7rem;
  padding: 2px;
  border: 1px solid red;
  border-radius: 50%;
}

#secondary-list .icon {
  font-size: 0.6rem;
  color: white;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
}

.icon.blue{
  background-color: #47adf1;
  border-color: #47adf1;
}
.icon.violet{
  background-color: #9c72e4;
  border-color: #9c72e4;
}
.icon.green{
  background-color: #64c0a9;
  border-color: #64c0a9;
}
.icon.orange{
  background-color: #f29e33;
  border-color: #f29e33;
}
.icon.pink{
  background-color: #d863a1;
  border-color: #d863a1;
}
.icon.lightgreen{
  background-color: #b0c926;
  border-color: #b0c926;
}



